* {
  margin: 0;
  padding: 0;
}

/*----NavigationBar styles----*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  height: 70px;
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #007bff !important;
}

.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}

.nav-item {
  font-weight: bolder;
}

/*----About styles----*/
#about {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #555;
}

.vision {
  padding-top: 25px;
  text-align: justify;
 
}

.vision h1 
{
  color: orange;
}

.mission {
  padding-top: 25px;
  text-align: justify;
 
}
.mission h1 
{
  color: orange;
}


#eco-tourism {
background-image: url(./assets/images/blue.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

.eco
{
  color: rgb(139, 241, 130);
  text-align: center;
}
.eco-image {
display: block;
  height: 290px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(68, 243, 97);
  padding: 10px;
}


/*---Introduction---*/

#introduction {
  padding-top: 5px;
  padding-bottom: 50px;
  color: #555;
}

.intro-content {
  padding-top: 15px;
  text-align: justify;
}

#seal
{
  padding-top: 10px;
  padding-bottom: 50px;
  color: #555; 
}
.gov-seal
{
  display:block;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}

.seal-content  
{
  text-align: justify;
}



/*----Services styles----*/
#services {
  background-image: url(./assets/images/blue.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#services h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
}

#services h1:after

/*--Add bottom line--*/ {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 240px;
  margin: 5px auto 5px;
}

.services {
  margin-top: 40px;
}

.icon {
  font-size: 40px;
  margin: 20px auto;
  padding: 5px;
  height: 80px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}

#services p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.services .col-md-3:hover {
  background: #0f6649;
  cursor: pointer;
  transition: 0.7s;
}

/*-----Tourism Attractions styles-----*/
#tourism {
  background-image: url(./assets/images/blue.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#tourism h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
}

#tourism h1:after

/*--Add bottom line--*/ {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 350px;
  margin: 5px auto 5px;
}

.image-tour {
  display: block;
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(68, 243, 97);
  
}

#tourism p {
  font-size: 14px;
  margin-top: 20px;
  color: #efefef;
  text-align: justify;
}

/*---Contact Us---*/
#contact {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgb(5, 89, 114);
}

#contact h1 
{
  text-align: center;
}

#contact h3
{
  text-align: center; 
}

.contact-form {
  padding: 15px;
}

.form-control {
  border-radius: 0 !important;
  border: none !important;
}

.form-group {
  padding-bottom: 20px;
}

::placeholder {
  color: #999 !important;
}

.fa-solid {
  padding: 5px;
}

.follow {
  background: #fff;
  padding: 5px;
  margin: 15px;
}

.fa-brands {
  padding: 5px;
}

/*-------Footer------*/
#footer {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
